body{
  font-family: Arial;
  margin:0;
}

header{
  padding:15px;
  background:#222;
  color:white;
}

#products{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
  gap:15px;
  padding:20px;
}

.card{
  border:1px solid #ddd;
  padding:10px;
}
